.container {
	display: flex;
	flex-wrap: none;
	font-family: "Roboto";
}

.main-content {
	flex-basis: 100%;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
}

.side-bar {
	flex-basis: 20%;
	height: 100vh;
	background-color: #2b2d31;
	display: flex;
	flex-direction: column;
}

.side-bar svg {
	position: absolute;
	height: min(6vh, 48px);
	width: min(6vh, 48px);
	stroke: #e4e4e4;
}

.hide {
	display: none;
}

.side-bar-title {
	flex-basis: min(8vh, 60px);
	padding-left: 24px;
	font-size: 16px;
	color: #7c8187;
	letter-spacing: 2px;
	font-weight: 500;
	justify-self: center;
	line-height: min(8vh, 60px);
}

.side-bar-button {
	margin-left: 24px;
	width: 80%;
	height: 36px;
	margin-right: 10px;
	background-color: #e46643;
	border: none;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	gap: 4px;
}

.side-bar-button svg {
	height: 12px;
	width: 12px;
	stroke: white;
	transform: translate(-54px, -0.5px);
}

.side-bar-button p {
	line-height: 30px;
}

.nav {
	flex-basis: 100%;
	height: min(8vh, 60px);
	background-color: #2b2d31;
	display: flex;
	align-items: center;
}

.menu {
	height: min(6vh, 48px);
	width: min(6vh, 48px);
	stroke: #e4e4e4;
	align-self: center;
	background-color: #35393f;
	margin-left: 10px;
}

.menu:hover {
	cursor: pointer;
}

.fill {
	margin-left: 0;
}

.title {
	padding-left: 24px;
	padding-right: 24px;
	font-size: 20px;
	color: #e4e4e4;
	letter-spacing: 2px;
	font-weight: 500;
	border-right: 1px solid #7c8187;
}

.doc-icon {
	height: 48px;
	width: 48px;
	padding-left: 10px;
	padding-right: 10px;
	stroke: #e4e4e4;
}

.document-info {
	font-size: 15px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.info-header {
	color: #7c8187;
	flex-basis: 100%;
}

.info-title {
	color: #e4e4e4;
	flex-basis: 100%;
}

.delete {
	height: 36px;
	width: 36px;
	margin-left: auto;
	padding-right: 10px;
	stroke: #7c8187;
}

.save-doc {
	flex-basis: 150px;
	height: 36px;
	margin-right: 10px;
	background-color: #e46643;
	border: none;
	border-radius: 5px;
	display: flex;
	align-items: center;
}

.save-doc svg {
	height: 24px;
	width: 24px;
	margin-left: 5px;
	transform: translate(0, -1.5px);
	stroke: white;
}

.save-doc p {
	padding-left: 10px;
	color: white;
}

.input {
	flex-basis: 50%;
	height: max(100vh - 8vh, 100vh - 60px);
}

.input-header-half {
	flex-basis: min(5%, 30px);
	padding-left: 20px;
	font-size: 15px;
	color: #7c8187;
	font-weight: 500;
	letter-spacing: 2px;
	background-color: #e4e4e4;
	line-height: max(5%, 30px);
}

.right {
	border-left: 1px dotted #7c8187;
}

.input-main {
	flex-basis: 50%;
	height: max(95%, 100% - 30px);
	padding-left: 20px;
	margin-top: 12px;
	display: flex;
	align-items: flex-start;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}

.right-padding {
	padding-right: 10px;
}

.fill-width,
.fill-width:hover {
	flex-basis: 100%;
	border: none;
	outline: 0;
	min-width: 100%;
	font-family: "Roboto";
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	word-wrap: normal;
	resize: none;
	height: 100%;
}

.markdown-text {
	padding-left: 20px;
	font-family: "Roboto Slab";
	margin-top: 12px;
	line-height: 1.8;
	height: max(95%, 100% - 30px);
	overflow-y: scroll;
}

.markdown-text h1 {
	font-size: 32px;
	font-weight: 500;
}

.markdown-text h2 {
	font-size: 28px;
	font-weight: 300;
}

.markdown-text h3 {
	font-size: 24px;
	font-weight: 500;
}

.markdown-text h4 {
	font-size: 20px;
	font-weight: 500;
}

.markdown-text h5 {
	font-size: 18px;
	font-weight: 500;
}

.markdown-text h6 {
	font-size: 16px;
	font-weight: 500;
	color: #e46643;
}

.markdown-text blockquote {
	background-color: #e4e4e4;
	margin: 10px 10px;
	padding: 20px 20px;
	border-left: 10px solid #e46643;
	border-radius: 5px;
	margin-bottom: 30px;
}

.markdown-text pre {
	margin: 10px 10px;
	padding: 20px 20px;
	background-color: #e4e4e4;
	border-radius: 5px;
	margin-bottom: 30px;
}
