.container {
	display: flex;
	flex-wrap: wrap;
}
.nav {
	flex-basis: 100%;
	height: min(8vh, 60px);
	background-color: #2b2d31;
	display: flex;
	align-items: center;
}

.menu {
	height: min(6vh, 48px);
	width: min(6vh, 48px);
	stroke: #e4e4e4;
	align-self: center;
	background-color: #35393f;
	margin-left: 10px;
}

.menu:hover {
	cursor: pointer;
}

.title {
	padding-left: 24px;
	padding-right: 24px;
	font-size: 20px;
	color: #e4e4e4;
	letter-spacing: 2px;
	font-weight: 500;
	border-right: 1px solid #7c8187;
}

.doc-icon {
	height: 48px;
	width: 48px;
	padding-left: 10px;
	padding-right: 10px;
	stroke: #e4e4e4;
}

.document-info {
	font-size: 15px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.info-header {
	color: #7c8187;
	flex-basis: 100%;
}

.info-title {
	color: #e4e4e4;
	flex-basis: 100%;
}

.delete {
	height: 36px;
	width: 36px;
	margin-left: auto;
	padding-right: 10px;
	stroke: #7c8187;
}

.save-doc {
	flex-basis: 150px;
	height: 36px;
	margin-right: 10px;
	background-color: #e46643;
	border: none;
	border-radius: 5px;
	display: flex;
	align-items: center;
}

.save-doc svg {
	height: 24px;
	width: 24px;
	margin-left: 5px;
	transform: translate(0, -1.5px);
	stroke: white;
}

.save-doc p {
	padding-left: 10px;
	color: white;
}

.input {
	flex-basis: 50%;
	height: max(100vh - 8vh, 100vh - 60px);
}

.input-header-half {
	flex-basis: min(5%, 30px);
	padding-left: 10px;
	font-size: 15px;
	color: #7c8187;
	font-weight: 500;
	letter-spacing: 2px;
	background-color: #e4e4e4;
	line-height: max(5%, 30px);
}

.right {
	border-left: 1px dotted #7c8187;
}

.input-main {
	flex-basis: max(95%, 100% - 30px);
	padding-left: 10px;
}
